.detail{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #ddd3e6;
}

#subDetail{
    width: 100%;
    height: inherit;
    text-align: left;
}

#img{
    width: 50%;
    height: 50%;
}
