.topic {
    /* width: 50%;
    text-align: center;
    background-color: black;
    color: yellow;
    border-radius: 20px;
    background-color: aliceblue;
    border-color: antiquewhite; */
    color: #ffd631;
}